@charset "UTF-8";
html,
body {
  font-size: var(--fs-base);
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* reset */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-common);
}

fieldset,
img {
  border: 0 none;
}

img {
  max-width: 100%;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input,
select,
textarea,
button {
  vertical-align: middle;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: 0 none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

body {
  background: #ffffff;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}

a:active,
a:hover {
  text-decoration: none;
  color: inherit;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
}

b,
strong {
  color: inherit;
  -webkit-text-fill-color: inherit;
  font-weight: 700;
}

input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

table {
  border-collapse: collapse;
}

:root {
  /*color*/
  --primary: #4e32a5;
  --secondary: #111;
  --white: #fff;
  --brand: #f1108e;
  --gray01: #666;
  /*border*/
  --border01: #919191;
  --border02: #bbb;
  --border03: #e1e1e1;
  --border04: #dddddd;
  --border05: #d9d9d9;
  --border06: #999;
  --border07: #d7d7d7;
  /*bg*/
  --bg01: #333;
  --bg02: #f8f8f8;
  --bg03: #fafafa;
  --bg04: #f7f9fc;
  --bg05: #d7d7d7;
  /*text color*/
  --text01: #111;
  --text02: #666;
  --text04: #757575;
  --text05: #999;
  --text-warning: #db0404;
  /*font-family*/
  --font-family-common: "Pretendard", "Noto Sans KR", "Apple SD Gothic Neo",
    "Malgun Gothic", Arial, Helvetica, sans-serif;
  /*font-size*/
  --fs-xxl: 60px;
  --fs-xl: 40px;
  --fs-lg: 30px;
  --fs-md: 24px;
  --fs-sm: 20px;
  --fs-base: 16px;
  --fs-sub: 14px;
  /*spacing*/
  /*pc width*/
  --min-width: 1400px;
}

/*색상 클래스 */
.color-primary {
  color: var(--primary);
}

/*접근성*/
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  border: 0;
}

/*skip*/
.skip {
  position: relative;
  overflow: hidden;
  z-index: 3000;
  width: 100%;
}
.skip a {
  display: block !important;
  overflow: hidden;
  z-index: 3000;
  height: 1px;
  width: 1px;
  margin: 0 -1px -1px 0;
  font-size: 0;
  line-height: 0;
  text-align: center;
}
.skip a:focus, .skip a:hover {
  width: auto;
  height: auto;
  margin: 0;
  padding: 8px 0;
  background: #20262c;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

/*wrap*/
.wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/*header*/
header {
  min-width: var(--min-width);
  background: var(--bg01);
}
header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 16px 40px;
  height: 80px;
}
header .header .logo {
  width: 225px;
}
header .header .logo img {
  vertical-align: middle;
}
header .header .util .util-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
header .header .util .util-item li .util-name {
  text-align: right;
  color: var(--brand);
  line-height: 18px;
  font-size: var(--fs-sub);
}
header .header .util .util-item li .util-name + .util-num {
  margin-bottom: 2px;
}
header .header .util .util-item li .util-num {
  color: var(--white);
  line-height: 18px;
  font-size: var(--fs-sub);
}
header .header .util .util-item li .util-user {
  display: block;
  width: 40px;
  height: 40px;
  background: url("../icon/ico-user.svg") no-repeat center center, #fff;
  border-radius: 50%;
}
header .header .util .util-item li .util-logout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 4px 10px;
  background: var(--white);
  border-radius: 20px;
}
header .header .util .util-item li .util-logout .icon-logOut {
  display: block;
  width: 20px;
  height: 20px;
}
header .header .util .util-item li .util-logout .icon-logOut img {
  width: 100%;
}

/*box*/
.view-area {
  padding: 40px;
  background: var(--bg03);
  border-radius: 10px;
}

/*popup input[type="text"]*/
.input-field {
  padding: 10px 12px;
  height: 44px;
  font-weight: 500;
  font-size: var(--fs-base);
  line-height: 1.5;
  color: var(--text02);
  border: 1px solid var(--border02);
  border-radius: 8px;
  width: 100%;
}

/* popup select-box */
.select-inp {
  flex: 1;
  position: relative;
  min-width: 180px;
  height: 44px;
  padding: 10px 44px 10px 12px;
  font-size: var(--fs-base);
  border-radius: 8px;
  border: 1px solid var(--border02);
}
.select-inp.small {
  flex: none;
  min-width: 130px;
}
.select-inp:before {
  content: "";
  display: block;
  position: absolute;
  right: 3px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: url("../images/choice_icon.png") no-repeat;
}

/*select box */
.select-box {
  position: relative;
  min-width: 180px;
  height: 36px;
  padding: 6px 36px 6px 12px;
  font-size: var(--fs-base);
  border-radius: 8px;
  border: 1px solid var(--border02);
}
.select-box:before {
  content: "";
  display: block;
  position: absolute;
  right: 3px;
  top: 15px;
  width: 20px;
  height: 20px;
  background: url("../images/choice_icon.png") no-repeat;
}

/*input[type="text"]*/
.input-text {
  width: 180px;
  height: 40px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--border02);
  font-size: var(--fs-base);
}

/*error msg*/
.error-text {
  margin: 5px 0 10px;
  color: var(--text-warning);
}

.form-row .main-title {
  font-size: var(--fs-md);
  font-weight: 700;
  min-height: 45px;
  line-height: 45px;
}
.form-row fieldset {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.form-row + .form-row {
  margin-top: 30px;
}
.form-row .form-area {
  margin-top: 10px;
  background-color: var(--bg02);
  padding: 18px 24px;
  display: flex;
  gap: 10px 20px;
  flex-wrap: wrap;
  border: 1px solid var(--border05);
}
.form-row .form-area .form-item {
  display: flex;
  justify-content: start;
  align-items: center;
}
.form-row .form-area .form-item label {
  margin-right: 16px;
  font-size: 16px;
  font-weight: 500;
}
.form-row .form-area .form-item.small .select-box,
.form-row .form-area .form-item.small .input-text {
  width: 100px;
}

.form-row-tbl {
  margin-top: 40px;
}
.form-row-tbl .table-wrap {
  margin-top: 10px;
}

/*팝업 form*/
.form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.form-field + .form-field {
  margin-top: 20px;
}
.form-field .label-field {
  display: block;
  width: 90px;
  text-align: right;
  color: var(--text01);
  font-weight: 600;
  font-size: var(--fs-base);
  line-height: 1.5;
  margin-right: 8px;
}
.form-field .form-column {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}
.form-field .form-column.full {
  justify-content: start;
  width: 100%;
}
.form-field .form-column.full .input-field + button {
  margin-left: 8px;
}
.form-field .form-column .input-field {
  flex: 1;
}

.select-area {
  position: relative;
  display: inline-block;
}
.select-area:after {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  right: 14px;
  width: 20px;
  height: 20px;
  background: url("../icon/ico-select-small.svg") no-repeat center/20px auto;
}
.select-area .select-text {
  font-size: var(--fs-base);
  margin-right: 10px;
}
.select-area .select-input {
  padding: 6px 36px 6px 12px;
  min-width: 86px;
  font-size: var(--fs-base);
  border: 1px solid var(--border06);
  border-radius: 8px;
}

/*button*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 10px;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;
}
.btn.btn-secondary {
  background-color: #333;
  color: #fff;
}
.btn.btn-secondary[disabled] {
  background-color: #eee;
  color: #bbb;
}
.btn.btn-secondary.line {
  border: 1px solid var(--secondary);
  background-color: transparent;
  color: var(--secondary);
}
.btn.btn-primary {
  color: #fff;
  background: var(--primary);
}
.btn.btn-primary[disabled] {
  background-color: #eee;
  color: #bbb;
}
.btn.btn-primary.line {
  border: 1px solid var(--primary);
  background-color: transparent;
  color: var(--primary);
}
.btn.large {
  min-height: 50px;
  min-width: 160px;
}
.btn.large.round {
  border-radius: 20px;
}
.btn.large + .btn-large {
  margin-left: 10px;
}
.btn.large[class^=ico-]::before, .btn.large[class*=ico-]::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
}
.btn.medium {
  padding: 10px 7px;
  min-height: 45px;
  min-width: 130px;
  font-size: 16px;
}
.btn.medium[class^=ico-]::before, .btn.medium[class*=" ico-"]::before {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-size: 20px auto;
  background-position: center;
  background-repeat: no-repeat;
}
.btn.btn-primary.line.ico-download::before {
  background-image: url("../icon/ico_download_line.svg");
}
.btn.full {
  width: 100%;
}
.btn.small {
  padding: 4px 12px;
  min-height: 32px;
  min-width: 80px;
  font-size: 16px;
  font-weight: 500;
}

.btn-wrap {
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-btn {
  text-align: center;
  margin: 20px 0 0;
}
.search-btn .btn + .btn {
  margin-left: 10px;
}
.search-btn + .table-wrap {
  margin-top: 40px;
}

.table-wrap {
  will-change: scroll-position;
  transform: translateZ(0);
  overflow: auto;
  max-height: 300px;
}
.table-wrap:has(.col) {
  display: flex;
  justify-content: start;
  align-items: center;
}
.table-wrap:has(.col) .col + .col {
  margin-left: 20px;
}
.table-wrap:has(.col) .col .transfer-btn {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  border: 1px solid var(--border02);
}
.table-wrap:has(.col) .col .transfer-btn + .transfer-btn {
  margin-top: 10px;
}
.table-wrap:has(.col) .col .transfer-btn.right {
  background: url(../icon/arrow-right.svg) no-repeat center/24px auto;
}
.table-wrap:has(.col) .col .transfer-btn.left {
  background: url(../icon/arrow-left.svg) no-repeat center/24px auto;
}
.table-wrap .table {
  width: 100%;
  text-align: center;
  table-layout: fixed;
}
.table-wrap .table caption {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
.table-wrap .table th,
.table-wrap .table td {
  padding: 10px 20px;
  border: 1px solid #ddd;
}
.table-wrap .table th {
  background: #f8f8f8;
}
.table-wrap .table thead {
  position: sticky;
  left: 0;
  top: 0;
  z-index: 22;
  transform: translateZ(0);
  backface-visibility: hidden;
}
.table-wrap .table thead:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  z-index: 111;
}
.table-wrap .table tbody {
  max-height: 100px;
}

/*pagination*/
.pagination {
  text-align: center;
}
.pagination .page {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.pagination .page .page-control,
.pagination .page .page-list {
  display: flex;
  align-items: center;
}
.pagination .page .page-control .page-btn,
.pagination .page .page-list .page-btn {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  text-align: center;
  color: var(--gray01);
}
.pagination .page .page-control .page-btn.active,
.pagination .page .page-list .page-btn.active {
  background: var(--secondary);
  color: var(--white);
}
.pagination .page .page-control .page-btn.first,
.pagination .page .page-list .page-btn.first {
  background: url("../icon/ico-page-first.svg") no-repeat center/18px auto;
}
.pagination .page .page-control .page-btn.prev,
.pagination .page .page-list .page-btn.prev {
  margin-right: 20px;
  width: 43px;
  padding-left: 17px;
  font-size: 15px;
  background: url("../icon/ico-page-prev.svg") no-repeat left center/12px auto;
}
.pagination .page .page-control .page-btn.next,
.pagination .page .page-list .page-btn.next {
  margin-left: 20px;
  width: 43px;
  font-size: 15px;
  padding-right: 17px;
  background: url("../icon/ico-page-next.svg") no-repeat right center/12px auto;
}
.pagination .page .page-control .page-btn.last,
.pagination .page .page-list .page-btn.last {
  background: url("../icon/ico-page-last.svg") no-repeat center/18px auto;
}

.aside {
  padding: 30px 20px 50px;
  background: var(--bg01);
  border-radius: 12px;
  width: 300px;
}
.aside .scan-modul button {
  width: 100%;
  background: #111;
  border-radius: 30px 20px;
  color: #fff;
  font-size: 16px;
  padding: 10px 12px;
}
.aside .aside-menu ul .menu-item.active .depth2 {
  display: block;
}
.aside .aside-menu ul .menu-item.active .menu-toggle::after {
  transform: rotate(0deg);
}
.aside .aside-menu ul .menu-item .menu-toggle {
  position: relative;
  padding: 0 0 0 30px;
  color: #fff;
  height: 48px;
  line-height: 48px;
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.aside .aside-menu ul .menu-item .menu-toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 7px);
  right: 10px;
  width: 14px;
  height: 14px;
  background: url("../icons/arrow-left-bold.png") no-repeat center/14px auto;
  transform: rotate(-180deg);
  transition: all 0.3s ease-out;
}
.aside .aside-menu ul .menu-item .depth2 {
  display: none;
}
.aside .aside-menu ul .menu-item .depth2 li a {
  position: relative;
  display: block;
  padding: 0 0 0 32px;
  line-height: 30px;
  color: #fff;
  box-sizing: border-box;
  height: 32px;
}
.aside .aside-menu ul .menu-item .depth2 li a:before {
  content: "";
  display: block;
  position: absolute;
  top: 14px;
  left: 20px;
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 1px;
}
.aside .aside-menu ul .menu-item .depth2 li a:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
}
.aside .aside-menu ul .menu-item .depth2 li + li {
  margin-top: 4px;
}

/* content */
main {
  display: flex;
  flex-direction: column;
  background: var(--bg02);
  flex: 1;
  min-width: var(--min-width);
}
main .main-wrap {
  display: flex;
  justify-content: start;
  flex: 1;
  height: 100%;
  gap: 20px;
  padding: 20px;
}
main .main-wrap .contents {
  flex: 1;
}
main .main-wrap .contents .contents-inner {
  padding: 20px 30px;
  border-radius: 20px;
  height: 100%;
  background-color: var(--white);
}

/*title*/
.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-title h3 {
  position: relative;
  font-weight: 700;
  padding-left: 10px;
}
.sub-title h3::after {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--primary);
  border-radius: 50%;
}

.sub-sub-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sub-sub-title .sub-sub-txt.bullet {
  position: relative;
  padding-left: 10px;
}
.sub-sub-title .sub-sub-txt.bullet:after {
  content: "";
  display: block;
  position: absolute;
  top: 9px;
  border-radius: 50%;
  left: 0;
  width: 4px;
  height: 4px;
  background-color: var(--primary);
}
.sub-sub-title .sub-sub-txt .color-primary {
  font-weight: 700;
}

.dimmed {
  display: none;
  inset: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
}
.dimmed.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-container {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  height: 100vh;
  inset: 0;
}
.popup-container.show {
  display: flex !important;
}
.popup-container .popup-dialog {
  position: relative;
  background-color: var(--white);
  margin: 0 auto;
  min-height: 100px;
}
.popup-container .popup-dialog.wide {
  max-width: 1168px;
  width: 100%;
}
.popup-container .popup-dialog.xl {
  max-width: 1000px;
  width: 100%;
}
.popup-container .popup-dialog.lg {
  max-width: 840px;
  width: 100%;
}
.popup-container .popup-dialog.md {
  max-width: 800px;
  width: 100%;
}
.popup-container .popup-dialog.sm {
  max-width: 600px;
  width: 100%;
}
.popup-container .popup-dialog.sm .form-field .form-column .label-field {
  width: auto;
}
.popup-container .popup-dialog.sm .form-field .form-column .input-field {
  width: 100%;
  flex: 1;
}
.popup-container .popup-dialog.tiny {
  max-width: 500px;
  width: 100%;
  max-height: 753px;
}
.popup-container .popup-dialog.transfer .popup-content .popup-body .form-field {
  width: calc(50% - 48px);
}
.popup-container .popup-dialog.transfer .popup-content .popup-body .transfer-box {
  margin-block: 20px;
}
.popup-container .popup-dialog .popup-content {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
}
.popup-container .popup-dialog .popup-content .popup-header {
  position: relative;
  padding: 15px 40px;
  border-bottom: 1px solid var(--border07);
  height: 80px;
  align-content: center;
}
.popup-container .popup-dialog .popup-content .popup-header .popup-title {
  font-size: 20px;
  font-weight: 500;
}
.popup-container .popup-dialog .popup-content .popup-header .popup-close {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  background: url("../images/ico-popup-close.svg") no-repeat center/40px auto;
}
.popup-container .popup-dialog .popup-content .popup-body {
  flex: 1;
  min-height: 0;
  padding: 40px 40px 0;
}
.popup-container .popup-dialog .popup-content .popup-body .view-area {
  margin-bottom: 40px;
}
.popup-container .popup-dialog .popup-content .popup-body .view-area:has(+ .search-btn) {
  margin-bottom: 0;
}
.popup-container .popup-dialog .popup-content .popup-body .txt-box {
  margin-block: 20px;
  font-size: var(--fs-base);
  line-height: 1.5;
  text-align: center;
}
.popup-container .popup-dialog .popup-content .popup-body .txt-box:first-child {
  margin-top: 0;
}
.popup-container .popup-dialog .popup-content .popup-body .txt-box .primary {
  font-weight: 500;
  color: var(--primary);
}
.popup-container .popup-dialog .popup-content .popup-footer {
  flex-shrink: 0;
  padding: 0 40px 40px;
}

@media (max-width: 767px) {
  .popup-container .popup-dialog .popup-content .popup-header {
    padding: 20px;
    height: 64px;
  }
  .popup-container .popup-dialog .popup-content .popup-body {
    padding: 20px;
  }
  .popup-container .popup-dialog .popup-content .popup-footer {
    padding: 0 20px 20px;
  }
  .popup-container .popup-dialog {
    max-height: 100%;
    height: 100vh;
  }
  .btn.large {
    height: 48px;
    font-size: 16px;
  }
}
