/* content */
main {
  display: flex;
  flex-direction: column;
  background: var(--bg02);
  flex: 1;
  min-width: var(--min-width);
  .main-wrap {
    display: flex;
    justify-content: start;
    flex: 1;
    height: 100%;
    gap: 20px;
    padding: 20px;

    .contents {
      flex: 1;
      .contents-inner {
        padding: 20px 30px;
        border-radius: 20px;
        height: 100%;
        background-color: var(--white);
        .form-row {
          .btn-wrap {
            margin-top: 20px;
            justify-content: end;
          }
        }
      }
    }
  }
}

/*title*/
.sub-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    position: relative;
    font-weight: 700;
    padding-left: 10px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: 0;
      width: 4px;
      height: 4px;
      background-color: var(--primary);
      border-radius: 50%;
    }
  }
}
.sub-sub-title {
  @include flexBeetween();
  .sub-sub-txt {
    &.bullet {
      position: relative;
      padding-left: 10px;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 9px;
        border-radius: 50%;
        left: 0;
        width: 4px;
        height: 4px;
        background-color: var(--primary);
      }
    }
    .color-primary {
      font-weight: 700;
    }
  }
}

/*image-viewer*/
.viewer {
  @include flexStart();
  gap: 20px;
  align-items: stretch;
  height: 100%;

  .viewer-area {
    flex: 1;
    border-radius: 20px;
    overflow: hidden;
  }
  .viewer-search {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-radius: 20px;
    background: var(--white);
    padding: 16px;
    height: fit-content;
    border: 1px solid var(--border04);
    height: 100%;
    &.viewer-search-md {
      width: 400px;
    }
    .btn-wrap {
      & + .viewer-title {
        margin-top: 20px;
      }
    }
    .viewer-title {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .table-wrap {
      .table {
        tr {
          td,
          th {
            font-size: 15px;
            padding: 8px 12px;
            text-align: left;
          }
          th {
            font-weight: 500;
          }
        }
      }
    }
    .btn-wrap {
      .btn {
        width: 100%;
        &.refresh {
          min-width: 24px;
          width: auto;
        }
      }
    }
    .search-info {
      .btn-wrap {
        margin-top: 10px;
      }
    }
    .search-document {
      margin-top: 20px;

      .btn-wrap {
        margin-bottom: 10px;
      }
    }
  }
}
