@font-face {
  font-family: "Heungkukseed";
  src: url("../../fonts/HeungkukseedL.woff2") format("woff2"),
    url("../../fonts/HeungkukseedL.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../fonts/SpoqaHanSansNeo-Regular.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heungkukseed";
  src: url("../../fonts/HeungkukseedM.woff2") format("woff2"),
    url("../../fonts/HeungkukseedM.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heungkukseed";
  src: url("../../fonts/HeungkukseedB.woff2") format("woff2"),
    url("../../fonts/HeungkukseedB.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../fonts/SpoqaHanSansNeo-Medium.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("../../fonts/SpoqaHanSansNeo-Bold.woff2") format("woff2"),
    url("../../fonts/SpoqaHanSansNeo-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
