/*popup input[type="text"]*/
.input-field {
  padding: 10px 12px;
  height: 44px;
  font-weight: 500;
  font-size: var(--fs-base);
  line-height: 1.5;
  color: var(--text02);
  border: 1px solid var(--border02);
  border-radius: 8px;
  width: 100%;
}
/* popup select-box */
.select-inp {
  flex: 1;
  position: relative;
  min-width: 180px;
  height: 44px;
  padding: 10px 44px 10px 12px;
  font-size: var(--fs-base);
  border-radius: 8px;
  border: 1px solid var(--border02);
  &.small {
    flex: none;
    min-width: 130px;
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url("../icon/choice_icon.png") no-repeat;
  }
}

/*select box */
.select-box {
  position: relative;
  min-width: 180px;
  height: 36px;
  padding: 6px 36px 6px 12px;
  font-size: var(--fs-base);
  border-radius: 8px;
  border: 1px solid var(--border02);
  &:before {
    content: "";
    display: block;
    position: absolute;
    right: 3px;
    top: 15px;
    width: 20px;
    height: 20px;
    background: url("../icon/choice_icon.png") no-repeat;
  }
}
/*input[type="text"]*/
.input-text {
  width: 180px;
  height: 40px;
  padding: 8px 12px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid var(--border02);
  font-size: var(--fs-base);
}

/*input[type="checkbox"]*/
.check-box {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  opacity: 1;
  cursor: pointer;
  vertical-align: middle;
  .check-input {
    vertical-align: baseline;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border02);
    width: 100%;
    height: 100%;
    &:checked {
      border: 0;
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 18px;
        background: url("../icon/ico-checkbox-on.svg") no-repeat center / 18px
            auto,
          var(--secondary);
        border-radius: var(--border-radius-sm);
      }
    }
  }
}

/*error msg*/
.error-text {
  margin: 5px 0 10px;
  color: var(--text-warning);
}

.form-row {
  .main-title {
    font-size: var(--fs-md);
    font-weight: 700;
    min-height: 45px;
    line-height: 45px;
  }
  fieldset {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  & + .form-row {
    margin-top: 30px;
  }
  .form-area {
    margin-top: 10px;
    background-color: var(--bg02);
    padding: 18px 24px;
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    border: 1px solid var(--border05);
    .form-item {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 16px;
      label {
        font-size: 16px;
        font-weight: 500;
      }

      &.small {
        .select-box,
        .input-text {
          min-width: 100px;
        }
      }
      &.xsmall {
        .select-box,
        .input-text {
          width: 60px;
        }
      }
    }
  }
}
.form-row-tbl {
  margin-top: 40px;

  .table-wrap {
    margin-top: 10px;
  }
}

/*팝업 form*/

.form-field {
  @include flexBeetween();
  gap: 10px;
  & + .form-field {
    margin-top: 20px;
  }
  .label-field {
    display: block;
    width: 90px;
    text-align: right;
    color: var(--text01);
    font-weight: 600;
    font-size: var(--fs-base);
    line-height: 1.5;
    margin-right: 8px;
  }
  .form-column {
    @include flexStart();
    gap: 10px;
    width: 100%;

    &.full {
      justify-content: start;
      width: 100%;
      .input-field {
        & + button {
          margin-left: 8px;
        }
      }
    }
    .input-field {
      flex: 1;
    }
  }
}

.select-area {
  position: relative;
  display: inline-block;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 14px;
    width: 20px;
    height: 20px;
    background: url("../icon/ico-select-small.svg") no-repeat center / 20px auto;
  }
  .select-text {
    font-size: var(--fs-base);
    margin-right: 10px;
  }
  .select-input {
    padding: 6px 36px 6px 12px;
    min-width: 86px;
    font-size: var(--fs-base);
    border: 1px solid var(--border06);
    border-radius: 8px;
  }
}

/*button*/
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 20px 10px;
  font-size: 20px;
  border-radius: 50px;
  text-align: center;
  font-weight: 500;
  border: 1px solid transparent;
  transition: all 0.2s ease-in;

  &.btn-secondary {
    background-color: #333;
    color: #fff;
    &[disabled] {
      background-color: #eee;
      color: #bbb;
    }
    &.line {
      border: 1px solid var(--secondary);
      background-color: transparent;
      color: var(--secondary);
    }
  }
  &.btn-primary {
    color: #fff;
    background: var(--primary);
    &[disabled] {
      background-color: #eee;
      color: #bbb;
    }

    &.line {
      border: 1px solid var(--primary);
      background-color: transparent;
      color: var(--primary);
    }
  }
  &.large {
    min-height: 50px;
    min-width: 160px;
    &.round {
      border-radius: 20px;
    }
    & + .btn-large {
      margin-left: 10px;
    }
    // 아이콘 공통
    &[class^="ico-"],
    &[class*="ico-"] {
      &::before {
        content: "";
        display: block;
        width: 20px;
        height: 20px;
        background-size: 20px auto;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &.medium {
    padding: 10px 7px;
    min-height: 45px;
    min-width: 130px;
    font-size: 16px;
    // 아이콘 공통
    &[class^="ico-"],
    &[class*=" ico-"] {
      &::before {
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        background-size: 20px auto;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &.btn-primary {
    &.line {
      &.ico-download::before {
        background-image: url("../icon/ico_download_line.svg");
      }
    }
  }
  // 개별 아이콘

  &.full {
    width: 100%;
  }

  &.small {
    padding: 4px 12px;
    min-height: 32px;
    min-width: 80px;
    font-size: 16px;
    font-weight: 500;
  }
}
.btn-wrap {
  gap: 10px;
  @include flexCenter();
}

.search-btn {
  text-align: center;
  margin: 20px 0 0;
  .btn {
    & + .btn {
      margin-left: 10px;
    }
  }
  & + .table-wrap {
    margin-top: 40px;
  }
}
