@mixin flexBeetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flexStart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@mixin boxGray {
  padding: 40px;
  background: var(--bg03);
  border-radius: 10px;
}
