.dimmed {
  display: none;
  inset: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  &.show {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

/*팝업 공통(새창팝업, 모달팝업)*/
.popup-content {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  .popup-header {
    position: relative;
    padding: 15px 40px;
    border-bottom: 1px solid var(--border07);
    height: 80px;
    align-content: center;
    .popup-title {
      font-size: 20px;
      font-weight: 500;
    }
    .popup-close {
      position: absolute;
      width: 20px;
      height: 20px;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      background: url("../icon/ico-popup-close.svg") no-repeat center / 20px
        auto;
    }
  }
  .popup-body {
    flex: 1;
    min-height: 0;
    padding: 40px 40px 0;
    .box-transparent {
      padding-bottom: 40px;
    }
    .view-area {
      margin-bottom: 40px;
      &:has(+ .search-btn) {
        margin-bottom: 0;
      }
    }
    .txt-box {
      margin-block: 20px;
      font-size: var(--fs-base);
      line-height: 1.5;
      text-align: center;
      &:first-child {
        margin-top: 0;
      }

      .primary {
        font-weight: 500;
        color: var(--primary);
      }
    }
    .transfer-box {
      display: flex;
      justify-content: start;
      align-items: start;
      .col {
        &:has(.transfer-btn) {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: stretch;
        }
        & + .col {
          margin-left: 20px;
        }
        .transfer-btn {
          width: 48px;
          height: 48px;
          border-radius: 12px;
          border: 1px solid var(--border02);
          & + .transfer-btn {
            margin-top: 10px;
          }
          &.right {
            background: url(../icon/arrow-right.svg) no-repeat center / 24px
              auto;
          }
          &.left {
            background: url(../icon/arrow-left.svg) no-repeat center / 24px auto;
          }
        }
        .table-wrap {
          max-height: 250px;
          height: 250px;
        }
      }
    }
  }
  .popup-footer {
    flex-shrink: 0;
    padding: 0 40px 40px;
  }
}
.modal-container,
.popup-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*모달*/
.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100vh;
  inset: 0;
  &.show {
    display: flex !important;
  }

  .modal-dialog {
    position: relative;
    background-color: var(--white);
    margin: 0 auto;
    min-height: 100px;
    &.wide {
      max-width: 1168px;
      width: 100%;
    }
    &.xl {
      max-width: 1000px;
      width: 100%;
    }
    &.lg {
      max-width: 840px;
      width: 100%;
    }

    &.md {
      max-width: 800px;
      width: 100%;
    }
    &.sm {
      max-width: 600px;
      width: 100%;
      .form-field {
        .form-column {
          .label-field {
            width: auto;
          }
          .input-field {
            width: 100%;
            flex: 1;
          }
        }
      }
    }
    &.tiny {
      max-width: 500px;
      width: 100%;
      max-height: 753px;
    }
    &.transfer {
      .popup-content {
        .popup-body {
          .form-field {
            width: calc(50% - 48px);
          }
          .transfer-box {
            margin-block: 20px;
          }
        }
      }
    }
  }
}

/*새창 팝업*/
.popup-container {
  justify-content: space-between;
  height: 100%;
  align-items: start;
  .popup-dialog {
    width: 100%;
    height: 100%;
  }
  .popup-footer {
    margin-top: auto;
  }
}
